
<!-- The menu (index.ejs) can't cook anything. It can only show the customer what's available and take their order. 
The kitchen (app.js) is where all the real work happens. -->
<% layout ("/layouts/boilerplate") %>
<body>
    <h3> All Listings</h3>
    
    <!-- <form method="GET" action="/listings/new"> -->
 <!-- A user clicks this button.                  
The click triggers the <form> to be submitted.
The form's method is GET, so the browser prepares to navigate to a new page.
The form's action is /listings/new, so the browser knows exactly which page to go to.
       -->
     <!-- <button> Create New Listing </button> -->

<!-- 
    </form> -->
 <div class="row row-cols-lg-3 row-col-md-2 row-col-sm-1">
  <% for(let listing of allListings) { %>
  <a href="/listings/<%=listing._id %>" class="listing-link">

<div class="card col listing-card">
  <img src="<%= listing.image%>" 
       class="card-img-top" 
       alt="listing_image" 
       style="height: 20rem"
     />
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
      <b><%= listing.title %></b><br>
      &#8377; <%= listing.price.toLocaleString("en-IN") %> / night

    </p>
  </div>
</div>
</a>
 <% } %>
 </div>





